---
# <center> **Introduction to Applied Data Science**

### <center> *Prof. Bahram Mobasher*
#### <center> Teaching Assistant: *[Sina Taamoli](https://sinataamoli.github.io/)* | email: *sina.taamoli@email.ucr.edu*
### <center> **Week 1 & 2: Introduction to Python**
---

### 0) Installing Python
##### Useful Resources:
##### [**1. vscode**](https://code.visualstudio.com/)
##### [**2. anaconda**](https://docs.anaconda.com/free/anaconda/index.html)
##### [**3. Google colab**](https://colab.research.google.com/)

### 1) Variables

In [49]:
## Integer
a = 5

## float
b = 5.2

## boolean
c = True

## string
d = "hello"

## complex
e = 5 + 2j

In [2]:
type(a),type(b),type(c),type(d),type(e)

(int, float, bool, str, complex)

### 2) Operators

In [3]:
## Python Calculator!
3+4,5-6,7*8,1/2,4**2

(7, -1, 56, 0.5, 16)

In [4]:
# integer division
7//3

2

In [5]:
# remainder
7%3

1

In [6]:
# boolean operators
True and False

False

In [7]:
True or False

True

In [8]:
# comparison operators
5>4,15==16,14!=14

(True, False, False)

### 3) Lists

In [9]:
# create a list
f = [1, 4, 7, 8]
type(f)

list

In [10]:
# indexing in python
f[0]

1

In [11]:
f[0:2]

[1, 4]

In [12]:
f[3]

8

In [13]:
f[-1]

8

In [14]:
# list of elements with different types
g = ['hello', 5, 1.523, 5-3j]

In [15]:
print(g[3])
print(g[3].real)
print(g[3].imag)

(5-3j)
5.0
-3.0

In [16]:
# Nested list
h = [[1,2,3],[[5,6,7],'string']]

In [17]:
print (h[1][1])

string

In [18]:
# range function
i = list(range(1, 10, 1))
print (i)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
# append
i.append(10)
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
# insert function
i.insert(1,'hello')
i

[1, 'hello', 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
i.insert(3,'hello')
i

[1, 'hello', 2, 'hello', 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
# remove function
i.remove('hello')
i

[1, 2, 'hello', 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
# del function
del i[1]
i

[1, 'hello', 3, 4, 5, 6, 7, 8, 9, 10]

### 4) Tuples

##### like list but immutable (cannot be changed)

In [24]:
#cannot be changed
j = (1, 2, 3)
type(j)

tuple

In [25]:
j[1] = 8

TypeError: 'tuple' object does not support item assignment

### 5) Sets

In [26]:
# similar to sets in math
A = {1, 2, 3}
B = {3, 4, 5, 2}
type(A)

set

In [27]:
# union and intersection
A|B, A&B

({1, 2, 3, 4, 5}, {2, 3})

### 6) Dictionaries

In [28]:
# each element has key and value
k = {'parameter1':10,'parameter2':12, 'list1': [1, 3, 5]}
type(k)

dict

In [29]:
print(k['parameter1']), print(k['list1'][0])

10
1

(None, None)

In [30]:
k.items()

dict_items([('parameter1', 10), ('parameter2', 12), ('list1', [1, 3, 5])])

In [31]:
k.values()

dict_values([10, 12, [1, 3, 5]])

### 7) Control flow

In [32]:
# if statment
x, y = 9, 5
if x<y:
    print ('x is less than y')
elif y == x:
    print ('x is equal to y')
else:
    print('x is greater than y')

x is greater than y

In [33]:
# for loop
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [34]:
list_A = [1, 2, 3, 4]
len(list_A)

4

In [35]:
for i in range(0, len(list_A)):
    print(list_A[i])

1
2
3
4

In [36]:
for i in range(1,5,1):
    print(i)

1
2
3
4

In [37]:
for key,value in k.items():
    print(key,"=",value)

parameter1 = 10
parameter2 = 12
list1 = [1, 3, 5]

In [38]:
# use for loop to create a list
l = [x**2 for x in range(0,10)]

In [39]:
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [40]:
# while loop
m = 5
while m < 10:
    print(m)
    m=m+1

5
6
7
8
9

### 8) Functions

In [41]:
def function_name(input):
    output = 2 * input
    return(output)

In [42]:
function_name(2)

4

In [43]:
#factorial 5!=5*4*3*2*1 , 0!=1
def factorial(number):
    if number<0:
        factorial="factorial doesn't exist"
    elif number==0:
        factorial=1
    else:
        factorial=1
        for n in range (1,number+1):
            factorial=factorial*n
    return (factorial)

In [44]:
factorial(7)

5040

In [50]:
# time function
import time

In [51]:
time.time()

1728087518.464301

In [47]:
def factorial(number):
    t1 = time.time()
    if number<0:
        factorial="factorial doesn't exist"
    elif number==0:
        factorial=1
    else:
        factorial=1
        for n in range (1,number+1):
            factorial=factorial*n
    t2=time.time()
    # print('It took '+str(t2-t1)+' seconds') 
    print ('It took {s} seconds'.format(s=t2-t1)) 
    return (factorial)

In [48]:
factorial(5)

It took 8.344650268554688e-06 seconds

120

## Week 2

In [52]:
# lambda function
func = lambda input:input**2

In [53]:
func(2)

4

### 9) Classes

In [56]:
class Point:
    
    # class attributes
    
    default_color = 'red'
    size = 6
    
    # class methods
    
    def __init__(self,x,y):
        self.x=x
        self.y=y
        
    def translate(self,dx,dy):
        self.x = self.x+dx
        self.y = self.y+dy
        return (self.x,self.y)

In [57]:
P1 = Point(1,3)

In [60]:
P1.default_color, P1.size

('red', 6)

In [61]:
P1.marker = '*'

In [62]:
P1.marker

'*'

In [64]:
P1.x, P1.y

(1, 3)

In [65]:
P1.translate(0.5,0.7)

(1.5, 3.7)

In [66]:
P1.x, P1.y

(1.5, 3.7)

In [67]:
P2 = Point(3, 4)

In [68]:
P2

In [69]:
P2.translate(0.2,0.3)

(3.2, 4.3)

In [70]:
# write description for functions and classes
def factorial(number): 
    """
    This function computes factorial of an integer
    note 1
    note 2 ...
    """
    t1=time.time()
    if number<0:
        factorial="factorial doesn't exist"
    elif number==0:
        factorial=1
    else:
        factorial=1
        for n in range (1,number+1):
            factorial=factorial*n
    t2=time.time()
    #print('It took '+str(t2-t1)+' seconds')
    print ('It took {s} seconds'.format(s=t2-t1))
    return (factorial)

In [71]:
# help function
help(factorial)

Help on function factorial in module __main__:

factorial(number)
    This function computes factorial of an integer
    note 1
    note 2 ...

### 10) Most useful packages

In [ ]:
# # installation
# ## method 1
# pip install [package-name]

# ## method
# conda install [package name]

In [74]:
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt

In [75]:
#create numpy array
o = np.array([5,6,7,8,9])
o

array([5, 6, 7, 8, 9])

In [76]:
p0 = [[5,6],[7,8]]
p=np.array(p0)
p

array([[5, 6],
       [7, 8]])

In [77]:
type(p0), type(p)

(list, numpy.ndarray)

In [78]:
type(o), type(p)

(numpy.ndarray, numpy.ndarray)

In [79]:
o.shape

(5,)

In [80]:
p.shape

(2, 2)

In [81]:
o.dtype

dtype('int64')

In [82]:
# you can define data type in numpy array
q = np.array([[5,6],[7,8]],dtype=complex)

In [83]:
q.dtype

dtype('complex128')

In [84]:
print(q)

[[5.+0.j 6.+0.j]
 [7.+0.j 8.+0.j]]

In [85]:
# arange function
r=np.arange(0,10,0.5)
r

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5, 6. ,
       6.5, 7. , 7.5, 8. , 8.5, 9. , 9.5])

##### Equally spaceed intervals (linear/log)

In [86]:
# linspace and logspace functions
s = np.linspace(1,5,100)
s

array([1.        , 1.04040404, 1.08080808, 1.12121212, 1.16161616,
       1.2020202 , 1.24242424, 1.28282828, 1.32323232, 1.36363636,
       1.4040404 , 1.44444444, 1.48484848, 1.52525253, 1.56565657,
       1.60606061, 1.64646465, 1.68686869, 1.72727273, 1.76767677,
       1.80808081, 1.84848485, 1.88888889, 1.92929293, 1.96969697,
       2.01010101, 2.05050505, 2.09090909, 2.13131313, 2.17171717,
       2.21212121, 2.25252525, 2.29292929, 2.33333333, 2.37373737,
       2.41414141, 2.45454545, 2.49494949, 2.53535354, 2.57575758,
       2.61616162, 2.65656566, 2.6969697 , 2.73737374, 2.77777778,
       2.81818182, 2.85858586, 2.8989899 , 2.93939394, 2.97979798,
       3.02020202, 3.06060606, 3.1010101 , 3.14141414, 3.18181818,
       3.22222222, 3.26262626, 3.3030303 , 3.34343434, 3.38383838,
       3.42424242, 3.46464646, 3.50505051, 3.54545455, 3.58585859,
       3.62626263, 3.66666667, 3.70707071, 3.74747475, 3.78787879,
       3.82828283, 3.86868687, 3.90909091, 3.94949495, 3.98989899,
       4.03030303, 4.07070707, 4.11111111, 4.15151515, 4.19191919,
       4.23232323, 4.27272727, 4.31313131, 4.35353535, 4.39393939,
       4.43434343, 4.47474747, 4.51515152, 4.55555556, 4.5959596 ,
       4.63636364, 4.67676768, 4.71717172, 4.75757576, 4.7979798 ,
       4.83838384, 4.87878788, 4.91919192, 4.95959596, 5.        ])

In [87]:
t = np.logspace(1,4,10,base=10)
t

array([   10.        ,    21.5443469 ,    46.41588834,   100.        ,
         215.443469  ,   464.15888336,  1000.        ,  2154.43469003,
        4641.58883361, 10000.        ])

In [88]:
# create a random number
np.random.rand(5,5)

array([[0.57471975, 0.92894886, 0.48293671, 0.42273739, 0.87101412],
       [0.80216495, 0.2860601 , 0.09481039, 0.71499735, 0.09187326],
       [0.90327125, 0.20859274, 0.45635103, 0.08420884, 0.03634059],
       [0.98916474, 0.18209336, 0.09047587, 0.20645062, 0.3290211 ],
       [0.98297099, 0.82482641, 0.71173454, 0.24455013, 0.16598244]])

In [89]:
# diagonal matrix
np.diag([1,2,3,4])

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

In [ ]:
# create a meshgrid
x1, y1 = np.mgrid[0:5,0:5]
x1

In [ ]:
y1

In [ ]:
plt.scatter(x1,y1)

In [ ]:
u = np.array([7,4,6,9,3,5])